body {
    background-color: rgb(71, 157, 233);
}

.words {
    margin: auto;
    width: 599px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Comic Sans MS',sans-serif;
}

#board {
    background-color: rgb(29, 99, 231);
    height: 464px;
    width: 597px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    align-items: center;
}

.column {
    display: inline-flex;
    flex-direction: column-reverse;
    height: 460px;
    flex: 0 0 77px;
    padding: 1px;
    margin-right: 5px;
    border: 1px dashed black;
    box-sizing: content-box;
}

.disc {
    height: 75px;
    width: 75px;
    margin: 1px;
    border-radius: 50%;
}

.red {
    background: url('../css/reddisc.png') red;
    background-size: 75px 75px;
}

.yellow {
    background: url('../css/yellowdisc.png') yellow;
    background-size: 75px 75px;
}